<div class="container my-2">
    <div class="card bg-dark text-white">
        <div class="card-header"> {{ titulo }} </div>
        <div class="card-body">
            <form>

                <div class="form-group row">
                    <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                    <div>
                        <input type="text" class="form-control" [(ngModel)]="materia.nombre" name="nombre">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="descripcion" class="col-form-label col-sm-2">Descrpcion</label>
                    <div>
                        <input type="text" class="form-control" [(ngModel)]="materia.descripcion" name="descripcion">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)="agregar()" *ngIf="!materia.id else elseBlock">Agregar Materia</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)="actualizar()">Actualizar Materia</button>
                        </ng-template>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>